include bouquets-season-list.pug

mixin bouquets(list)
  section.bouquets#season-bouquets
    h2 Букеты сезона
    section.items
      each item in list
        article
          picture
            source(srcset=item.webp, type="image/webp")
            img(src=item.jpeg, loading="lazy", alt=item.name)
          span 
            | !{item.name} — !{item.description}

+bouquets(bouquetsSeason)