include bouquets-list.pug

mixin bouquets(list)
  section.items#items
    each item in list
      article(class=`item-${item.order}`)
        picture
          source(srcset=item.webp, type="image/webp")
          img(src=item.jpeg, loading="lazy", alt=item.name)
        span 
          | !{item.name}

+bouquets(bouquets)